html {
    font-size: 0.625rem;
    width: 1920px;
    height: 1080px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    /* background-color: #2196F3; */
    margin: 18rem 37.5rem;
}

.grid-item {
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    /* position: relative; */
    font-size: 3rem;
    text-align: center;
    /* max-height: 28rem;
    max-width: 36rem; */
}

.grid-item:nth-child(1) {
    background-image: url(../images/ocean.png);
    background-position: center;
    background-size: cover;
    max-height: 28rem;
    max-width: 36rem;
    opacity: 0.7;
}

.grid-item:nth-child(2) {
    background-image: url(../images/ocean.png);
    background-position: center;
    background-size: cover;
    height: 28rem;
    max-width: 36rem;
    opacity: 0.7;
}

.grid-container .grid-item .grid-item--title {
    /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* color: white; */
  text-align: center;
  padding-top: 13rem;
  line-height: 2rem;
  /* padding: auto; */
    /* margin: 0 auto; */
}